---
import Layout from '../layouts/Layout.astro';
import { VehicleCatalog } from '../components/catalog/VehiculeCatalog';

---

<Layout title="Catálogo de nuestros autos en Antofagasta" description="Catálogo de vehículos usados en Antofagasta, Chile">
  <main class="bg-white min-h-screen py-36">
    <div class="container mx-auto px-4 md:px-0">
      <h1 class="text-4xl font-bold text-black mb-8">Catálogo de Vehículos</h1>
      <VehicleCatalog client:load />
    </div>
  </main>
</Layout>