---
import { Icon } from 'astro-icon/components'
---
<section class="bg-black py-20">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 px-5 md:px-0 py-3">
        <!-- Mapa -->
        <div class="w-full h-full md:h-96 bg-gray-200 rounded-lg overflow-hidden ">
          <iframe
            class="w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4152.97918721917!2d-70.42026162406323!3d-23.694548066499966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96afd5ed37027675%3A0x90efa1a9f24c50c!2sAv.%20Cerro%20Paranal%20375%2C%201272050%20Antofagasta!5e1!3m2!1ses-419!2scl!4v1740678152762!5m2!1ses-419!2scl"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
  
        <!-- Información de dirección -->
        <div class="text-white flex flex-col justify-center px-2 md:px-10">
          <h2 class="text-2xl md:text-2xl font-bold mb-4 text-amber-600">Nuestra Sucursal</h2>
          <p class="text-sm pb-5">Encuentra nuestra sucursal cerca de ti y recibe atención personalizada.</p>
          <div class="text-xl md:text-sm mb-4">
            <Icon name="map" class="w-6 h-6 inline-block mr-2" />
            Av. Cerro Paranal 375, Antofagasta.
          </div>
          <div class="text-xl md:text-sm mb-4">
            <Icon name="phone" class="w-6 h-6 inline-block mr-2" />
            <a href="tel:+569659916910"> +56 9 6599 1691.</a>
          </div>
          <div class="text-xl md:text-sm mb-4">
            <Icon name="email" class="w-6 h-6 inline-block mr-2" />
             contacto@rgmotorsport.cl
          </div>
          <div class="text-xl md:text-sm flex mb-4">
            <Icon name="clock" class="w-6 h-6 inline-block mr-2" />
            <div class="flex flex-col">
              <span><strong>Lunes a Viernes:</strong> 9:00 a 19:00 hrs.</span>
              <span><strong>Sabado:</strong> 10:00 a 14:00 hrs.</span>
            </div>
          </div>

          <h2 class="text-2xl md:text-2xl font-bold mb-4 text-amber-600 pt-5">Nuestros Partners</h2>
          <p class="text-sm pb-10">Optimizamos los procesos con datos validados por empresas certificadas</p>
         <div class="flex">
          <img src="../../images/logo/dily-logo.webp" alt="logodily" class="h-auto w-24" />
          <img src="../../images/logo/logo-blanco.webp" alt="logo-venpu" class="h-auto w-36" />
         </div>
        </div>
      </div>
    </div>
  </section>
  