---
import Form from '../components/contact-form/Form.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Contacto - Estamos aquí para ayudarte con todas tus necesidades de vehículos" description="Aquí nos puedes contactar para un servicio rápido y seguro en la venta y compra de tu vehículo">
  <main class="bg-white py-36 px-4 md:py-[180px]">
    <div class="container mx-auto">
    <div class="text-center mb-12">
      <h1 class="text-4xl md:text-6xl font-bold text-black mb-5">Contáctanos</h1>
      <p class="text-xl text-black text-balance px-0 mx:px-[120px]">Ya sea que estés buscando el vehículo ideal o quieras vender el tuyo, en
        RG Motorsport estamos aquí para ayudarte.
        Contáctanos y recibe atención personalizada, asesoría experta y un proceso
        transparente. <strong><p>¡Tu mejor experiencia automotriz comienza aquí!</p></strong></p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <!-- Formulario de contacto -->
      <div class="bg-white p-8 rounded-2xl shadow-md">
        <h2 class="text-2xl font-semibold mb-6">Envíanos un mensaje</h2>
        <Form/>
      </div>

      <!-- Información de la empresa -->
      <div class="space-y-8">
        <div class="bg-white p-8 rounded-2xl shadow-md">
          <h2 class="text-2xl font-semibold mb-6">Información de Contacto</h2>
          <div class="space-y-4">
            <div class="flex flex-col space-y-4">
              <!-- Dirección 1 -->
              <div class="flex items-start space-x-4">
               <Icon name="maps" class="w-8 h-8" />
                <div>
                  <h3 class="font-semibold text-lg">Dirección:</h3>
                  <p class="text-gray-600"> Av. Cerro Paranal 375, Antofagasta.</p>
                </div>
              </div>
              <div class="flex items-start space-x-4">
                <Icon name="phone-black" class="w-8 h-8" />
                 <div>
                   <h3 class="font-semibold text-lg">Teléfono:</h3>
                   <a href="tel:+56965991691" class="text-gray-600 py-1">+56 9 6599 1691</a>
                 </div>
               </div>
               <div class="flex items-start space-x-4">
                <Icon name="mail-black" class="w-8 h-8" />
                 <div>
                   <h3 class="font-semibold text-lg">Correo Electrónico:</h3>
                   <a href="mailto:rgaytan.asesorias@gmail.com" class="text-gray-600 py-1">rgaytan.asesorias@gmail.com</a>
                 </div>
               </div>
            </div>
          </div>
        </div>
        <!-- Mapas -->
      </div>
    </div>
  </div>
  </main>
</Layout>


