---
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/testimonials/Testimonials.astro';
import Maps from '../components/maps/Maps.astro';
import {FeaturedCars} from '../components/featured-car/FeaturedCars'
import {ImageSlider} from '../components/image-slider/ImageSlider'
import ViewStock from '../components/banners/ViewStock.astro';
import Services from '../components/Services.astro';
import Consignacion from '../components/Consignacion.astro';

  const metadata = {
    title:"RG Motor Sports", 
    description:"Venta de vehiculos usados en Antofagasta, Chile",
    image:'https://www.rgmotorsport.cl/images/logo/LogoRG.webp'
  }
---

<Layout {...metadata}
>
  <main>
   <ImageSlider client:load/>
     <FeaturedCars client:load/>
     <ViewStock />
     <Services />
    <Consignacion />
   <Testimonials />
   <Maps />
  </main>
</Layout>



