---
import {Image} from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { ImageSlider } from '../components/image-slider/ImageSlider';
import ViewStock from '../components/banners/ViewStock.astro';

// imagenes
import item1 from '../assets/images/item-1.webp';
import item2 from '../assets/images/item-2.webp';
import item3 from '../assets/images/item-3.webp';
---

<Layout title="Nosotros - Doble Tracción" description="Conoce más sobre nosotros">
 <ImageSlider client:load />
 <section>
  <div class="container mx-auto py-12">
     <div class="py-10 md:py-[100px]">
      <h1 class="text-3xl md:text-5xl font-bold text-center py-3">Nosotros</h1>
      <p class="text-center text-lg text-balance px-3 md:px-[200px] pt-3">En RG Motorsport, convertimos la compra y venta de vehículos en una
        experiencia confiable, segura y personalizada. Con más de 15 años en el rubro,
        nos apasiona ayudarte a encontrar el auto perfecto, ofreciéndote un servicio
        transparente y de calidad en cada paso del camino.
        " </p>
     </div>
     <h2 class="text-2xl md:text-3xl font-bold text-center py-10">
      ¿Por qué elegir RG Motorsport? 
     </h2>

     <div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="p-4 rounded-lg flex flex-col items-center">
          <Image src={item1} alt="Experiencia y trayectoria" width={250} height={250} />
          <h3 class="text-xl font-bold pb-5">Experiencia y trayectoria</h3>
          <p class="text-balance text-center">Con más de 15 años en el
            mercado, hemos construido
            una reputación basada en
            confianza, transparencia.</p>
        </div>
        <div class="p-4 rounded-lg flex flex-col items-center">
          <Image src={item2} alt="Atención personalizada" width={250} height={250} />
          <h3 class="text-xl font-bold pb-5">Atención personalizada</h3>
          <p class="text-balance text-center">Nos enfocamos en
            brindarte una experiencia
            única, acompañándote en
            cada etapa.</p>
        </div>
        <div class="p-4 rounded-lg flex flex-col items-center">
          <Image src={item3} alt="Seguridad y transparencia" width={250} height={250} />
          <h3 class="text-xl font-bold pb-5">Seguridad y transparencia</h3>
          <p class="text-balance text-center">Vehículos con revisión
            previa, asegurando que
            cada compra o
            consignación sea segura.</p>
        </div>
     </div>
  </div>
 </section>
  <ViewStock />
</Layout>