---

import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'

---
<footer class="bg-black text-white py-12 px-5 md:px-0 border-t border-gray-800">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div>
        <a href="/">
          <img src="/images/logo/LogoRG.webp" alt="RG Motor Sport" class="h-auto w-20" />
         </a>
        <p class="text-gray-400 py-5">
          RG Motor Sport @2025 <br> Todos los derechos reservados
        </p>

        <div class="flex items-center space-x-4 py-2">
         <a href="https://web.facebook.com/profile.php?id=61564025917686" target="_blank"><Facebook /></a> 
          <a href="https://www.instagram.com/rg__motorsport_/" target="_blank">  <Instagram /></a> 
        </div>
      </div>
      
      <div>
        <h3 class="font-bold text-lg mb-4">Enlaces</h3>
        <ul class="space-y-2">
          <li><a href="/" class="text-gray-400 hover:text-amber-600">Inicio</a></li>
          <li><a href="/nosotros" class="text-gray-400 hover:text-amber-600">Nosotros</a></li>
          <li><a href="/catalogo" class="text-gray-400 hover:text-amber-600">Cat치logo</a></li>
          <li><a href="/contacto" class="text-gray-400 hover:text-amber-600">Contacto</a></li>
        </ul>
      </div>
      
      <div>
        <h3 class="font-bold text-lg mb-4">Contacto</h3>
        <ul class="space-y-2 text-gray-400">
          <li>
            <h3 class=" text-amber-600">Ll치manos:</h3>
            <div class="mt-4">
              <div class="py-1">
                <a href="tel:+56965991691" class="underline">+56 9 6599 1691</a></div>
            </div>
         
          </li>
          <li>
            <h3 class="py-2 text-amber-600">Informaci칩n:</h3>
            <div>
              <a href="mailto:Automotriz@dobletraccion.cl" class="underline">
                contacto@rgmotorsport.cl
              </a>
            </div>
          </li>
          <li>Av. Cerro Paranal 375, Antofagasta.</li>
        </ul>
      </div>

      <div>
        <img src="/images/logo/logo-webpay.webp" alt="logo-webpay" class="h-24 md:h-36" />
      </div>
     
    </div>


    <div class="border-t border-gray-800 mt-8 pt-8 text-center text-gray-400">
      <p>&copy; {new Date().getFullYear()} Dise침o y desarrollo | venpu.cl</p>
    </div>
  </div>
</footer>