---
import { Image } from 'astro:assets';
import service1 from '../assets/images/service-01.png';
import service2 from '../assets/images/service-02.png';
import service3 from '../assets/images/service-03.png';
---


<section class="container mx-auto py-8 md:py-[150px]">
  <div class="px-4 md:px-0">
    <div class="h-2 bg-amber-600 w-16 mb-3 mx-auto"></div>
    <h2 class="text-3xl md:text-5xl font-bold text-center py-3">
     SERVICIOS
    </h2>
    <p class="text-center text-lg md:text-xl mb-8">
      Asesoramiento automotriz especializado en compra y venta de vehículos.
    </p>
    <div class="flex flex-col md:flex-row justify-center gap-4">
      <div class="relative w-full md:w-1/3 h-64 md:h-96 rounded-xl overflow-hidden">
        <Image 
          src={service1} 
          alt="Imagen 3" 
          class="w-full h-full object-cover rounded-xl" 
          width={600} 
          height={600} 
        />
        <!-- Degradado de sombra -->
        <div class="absolute bottom-0 left-0 w-full h-1/2 bg-gradient-to-t from-black to-transparent rounded-b-xl"></div>
        <div class="absolute bottom-0 left-0 p-4">
          <h3 class="text-white text-xl md:text-2xl font-bold">COMPRA Y VENTA</h3>
          <p class="text-sm text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget nunc. Donec nec nisl nec nisl.
          </p>
        </div>
      </div>
    
      <div class="relative w-full md:w-1/3 h-64 md:h-96 rounded-xl overflow-hidden">
        <Image 
          src={service2} 
          alt="Imagen 3" 
          class="w-full h-full object-cover rounded-xl" 
          width={600} 
          height={600} 
        />
        <!-- Degradado de sombra -->
        <div class="absolute bottom-0 left-0 w-full h-1/2 bg-gradient-to-t from-black to-transparent rounded-b-xl"></div>
        <div class="absolute bottom-0 left-0 p-4">
          <h3 class="text-white text-xl md:text-2xl font-bold">ASESORÍA</h3>
          <p class="text-sm text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget nunc. Donec nec nisl nec nisl.
          </p>
        </div>
      </div>
    
      <div class="relative w-full md:w-1/3 h-64 md:h-96 rounded-xl overflow-hidden">
        <Image 
          src={service3} 
          alt="Imagen 3" 
          class="w-full h-full object-cover rounded-xl" 
          width={600} 
          height={600} 
        />
        <!-- Degradado de sombra -->
        <div class="absolute bottom-0 left-0 w-full h-1/2 bg-gradient-to-t from-black to-transparent rounded-b-xl"></div>
        <div class="absolute bottom-0 left-0 p-4">
          <h3 class="text-white text-xl md:text-2xl font-bold">CRÉDITO</h3>
          <p class="text-sm text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget nunc. Donec nec nisl nec nisl.
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section>